@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 15px;
    font-family: "Alata", sans-serif;
    line-height: 1.6;
    text-align: center;
    color: hsl(0, 0%, 0%);
}

img {
    width: 100%;
    display: block;
}

p {
    color: hsl(0, 0%, 55%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
    body {
        text-align: left;
    }
}